html,
body {
  margin: 0;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(220, 69, 252, 1) 100%
  );
  color: white;
  font-weight: 200;
}

.container {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 1em;
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0em;
  margin-left: 0.25em;
}
